@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*  font-family: Noto Sans, ui-sans-serif, system-ui;*/
/*}*/

a:hover {
    @apply underline
}
 p {
    @apply text-lg tracking-wide
}
h3{
  @apply text-lg
}
@layer utilities {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply bg-blue-600;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
  }
}

.bg-primary{
  @apply bg-white

}

.scondary-color{
  color: #009334 !important;
}
